<h1><%= t(".pw_page") %></h1>

<p><%= t(".click_link") %></p>

<%= link_to t(".reset"), edit_password_reset_url(id: @user.reset_token,
  email: @user.email) %>

<p><%= t(".time") %></p>

<p>
<%= t(".content") %>
</p>
